:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --pepel-text-phone: rgba(117, 117, 117, 1);
  --background-section-one: rgba(47, 48, 58, 1);
  --background-section-four: rgba(245, 244, 250, 1);
  --footer-adress: rgba(255, 255, 255, 0.6);
}

body {
  color: rgba(33, 33, 33, 1);
  font-family: Roboto, sans-serif;
}

/* main */

.hero {
  background: rgba(47, 48, 58, 1);
}

.name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
}

.current {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
}

.feature {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(33, 33, 33, 1);
}

.feature-info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}

.main {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
}

.team,
.team-card {
  background: rgba(255, 255, 255, 1);
}

.team {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
}

.team-card {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}
