:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --pepel-text-phone: rgba(117, 117, 117, 1);
  --background-section-one: rgba(47, 48, 58, 1);
  --background-section-four: rgba(245, 244, 250, 1);
  --footer-adress: rgba(255, 255, 255, 0.6);
  --inner-border: rgba(238, 238, 238, 1);
}

.none {
  display: none;
}

.section-button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background: rgba(245, 244, 250, 1);
  color: rgba(33, 33, 33, 1);
}

.section-button-btn {
  background: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.button-btn:hover,
.button-btn:focus {
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.portfolio {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: rgba(33, 33, 33, 1);
  background: rgba(238, 238, 238, 1);
}

.portfolio-finger {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
  background: rgba(238, 238, 238, 1);
}
